################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.opendb
/Pi1/.vs/Pi1/v15/Browse.VC.db
